@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap%27');

:root {
    font-family: lato, Helvetica, sans-serif;
    color: black;
}

body {
    height: 95vh;
    background-color: beige;
}

.container {
    width: 31em;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(212, 212, 194);
}

.container h1 {
    padding: 0.4em 0;
}

.container input[type="text"] {
    height: 2.3em;
    width: 75%;
    border: 2px solid grey;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
}

::placeholder {
    color:rgb(226, 220, 219);
    text-align: center;
}

.enterb {
    padding: 0.5em 1em;
    margin: 0.75em 0;
    font-size: 1.25rem;
    font-weight: bolder;
    border: 2px solid white;
    background: transparent;
    color: white;
}

.enterb:hover {
    background-color: white;
    color: rgb(226, 220, 219);
}


.info {
    line-height: 1.6;
}

.info ul {
    list-style-type: none;
}


.info .temp {
    font-size: 3.5rem;
}

.info .desc {
    font-size: 2rem;
}

.info .message {
    font-size: 1.5rem;
    padding: 1em;
}

img {
    width: 18%
}

.info2 {
    line-height: 1.6;
}

.info2 ul {
    list-style-type: none;
}

.info2 .temp2 {
    font-size: 3.5rem;
}

.info2 .desc2 {
    font-size: 2rem;
}

.info2 .message2 {
    font-size: 1.5rem;
    padding: 1em;
}

@media (max-width: 500px) {
    .info {
        line-height: 1;
    }

    .info .temp {
        font-size: 1.75rem;
    }
    
    .info .desc {
        font-size: 1rem;
    }
    
    .info .message {
        font-size: 0.75rem;
        padding: 0.75em;
    }
    
    img {
        width: 18%
    }
    
    .info2 {
        line-height: 1;
    }
        
    
    .info2 .temp2 {
        font-size: 1.75rem;
    }
    
    .info2 .desc2 {
        font-size: 1rem;
    }
    
    .info2 .message2 {
        font-size: 0.75rem;
        padding: 0.75em;
    }

    .container {
        width: 100%;
    }

    
}