@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap%27');


body{
    background-color: white;
}

#flex-navbar
{   
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    padding:auto;
    font-size: 4.5vh;
    color:white;
    background-color: blue;
    
}

#flex-foot{
    display: flex; 
    justify-content:space-around;
    padding:auto;
    font-size: 3vh;
    background-color: grey;


}
.flex-main{
    display: flex;
    justify-content: space-around;
    flex: wrap;
    border:solid none 2px;
   }

   #box-left{
       width:10em;
       height: 10em;
       font-size: 1.5vw;
       border: solid none 5px;  
       border-radius: 1em;
       background-color: bisque; 
       margin: auto;
       padding: 1em;
       margin-top: 1em;
   }


   #box-right{
    font-size: 1.5vw;
    border-radius: 1em;
    width:10em;
    height: 10em;
    background-color: bisque; 
    border: solid none 5px;
    margin: auto;
    padding: 1em;
    margin-top: 1em;
}

#foot2,#foot1,#foot3{
    margin:auto;
    padding:2em;
    text-align: center;
    font-size: 1.5vw;
}

a{
    color:white;
    text-decoration: none;
}
a:hover{

    background-color: pink;
   
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F1F1F7;
  }
  
  .item {
    height: 10%;
    width: 40%;
    margin-top:2%;
    margin-bottom: 2%;
    border: solid black 0.1em;
    border-right: solid black 0.1em;
    padding: 0%;
    
  }
  
  .text {
    clear: both;
    width:49%;
    height: 100%;
    float: right;
    margin-top: 5%;
    font-size:1.2vw;
  }
  
.item img{
    width: 45%;
    height: auto;
    box-sizing: border-box;
    border-right: solid black 0.1em;
    overflow: hidden;
}

.contactInfo{
    text-align:center;
    padding: 2%;
    color: black;
}

.Click{
    color:black;
}

.image{
margin-top:2em;
width:100%;
height:50%;
margin-right:0em;
margin-left:0em;
}

.latest{
    margin-right:10em;
    width:50em;
    border:solid none 1px;
    padding:2em;
    font-size: 1.5vw;
    }
p{
    font-size:1.8vw;
}

#property{
 font-size: 1vw;
 color:blue;
 font-weight: bold;
}

#links{
color:blue;
}

#subhead{
margin-top: 2em;
}
.imag{
width:50%;
}
.contactInfo a{
    color: black;
    text-decoration: underline;
}

@media only screen and (max-width: 620px) {
    
    .flex-main,.latest,.flex-foot,#foot1,#foot2,#foot3{
      width: 100%;
    }
  }