body{
    background-color: white;
}

#flex-navbar
{   
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    padding:auto;
    font-size: 2.4em;
    color:white;
    background-color: blue;
}